article {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    color: black;
}

p {
    font-size: 16px;
    color: black;
}